p {
    font-size: 12px;
}

.subtitle {
    text-align: center;
    color: gray;
}

.content {
    position: relative;
    width: 500px;
    /* height: 200px; */
    overflow: scroll;
    background-color: whitesmoke;
    border: 5px solid rgba(13, 99, 13, 0.5); /*dashed, dotted*/
    padding: 20px;
    /* padding: 30px 20px; */
    /* padding: 100px 50px 200px; */
    /* padding: 10px 100px 50px 200px; */
    /* padding-left: 100px;  */
    margin: 100px;
}

.content h1 {
    text-align: center; /* left, right*/
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.content h2 {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.content p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.content .title {
    height: 20px;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 100px;
}

.content img {
    width: 100%;
}

.header {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.layout {
    display: flex;
    flex-direction: row; /*column, column-reverse, row, row-reverse*/
    justify-content: space-between; /*center, space-between, */
    align-items: center;
    background-color: gray;
    height: 200px;
}

.layout .block {
    flex-grow: 1;
    border: 1px solid black;
    height: 100px;
    background-color: blue;
    /* margin-bottom: 20px; */
    /* margin-right: 20px; */
    color: white;
    font-size: 100px;
}
